/* Layout Style */
#wrap {
	
}

#header {
	padding: rem(16px);
	background: #5d99c6;
	color: #fff; 
}

#contents {
	padding: rem(16px 16px 160px);
	background: $bgcolor-base;
}

#footer {
	padding: rem(16px);
	background: #90caf9;
	color: #fff;
	
}